#!/usr/bin/env bash
set -Eeuo pipefail

# fix file system permissions for higher security
chmod u-s /sbin/mount.nfs /sbin/mount.cifs

mkdir -p /opt/local/bin
VERSION=v1.26.9+k3s1
echo $VERSION > /etc/osc-k3s-version

INSTALL_SCRIPT_URL=$(echo "https://raw.githubusercontent.com/k3s-io/k3s/$VERSION/install.sh" | sed 's/+/%2B/g')
curl $INSTALL_SCRIPT_URL -o /opt/k3s-install.sh
chmod 755 /opt/k3s-install.sh

export INSTALL_K3S_VERSION=$VERSION
export INSTALL_K3S_SKIP_SELINUX_RPM=true
export INSTALL_K3S_SELINUX_WARN=true
export INSTALL_K3S_BIN_DIR="/opt/local/bin"
export INSTALL_K3S_SKIP_ENABLE=true
export INSTALL_K3S_SKIP_START=true

/opt/k3s-install.sh
