mkdir -p /opt/local/bin

# ipv6 shell helper
curl -L https://raw.githubusercontent.com/cvmiller/expand6/master/expand6.sh -o /opt/local/expand6.sh

# cilium-cli binaries
curl -L --remote-name-all https://github.com/cilium/cilium-cli/releases/download/v0.12.11/cilium-linux-amd64.tar.gz{,.sha256sum}
sha256sum --check cilium-linux-amd64.tar.gz.sha256sum
tar xzvfC cilium-linux-amd64.tar.gz /opt/local/bin
rm -f cilium-linux-amd64.tar.gz*
# added to fix R74 of compliance requirements
chown root:root /opt/local/bin/cilium
# end R74 compliance
